.section:first-child{
  background-image: url('../image/group-8.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.section:nth-child(2) {
  background-image: url('../image/group-5.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  animation: move 3s infinite;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.firstpage{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-25%);
  text-align: center;
  font-size: 50px;
  font-family: "RobotoMedium";
  color: #ffffff;
  opacity: 0;
  animation: visible 1s infinite;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.firstpagecontent{
  transform: translateY(30%);
  text-align: center;
  font-size: 25px;
  font-family: "RobotoLight";
  color: #ffffff;
  animation: visible 1s infinite;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
#logo{
  animation: width 3s infinite;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
#metallus{
    animation: visible 5s infinite;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    width: 50%;
    margin-top: 60px;
}
@keyframes visible{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes move{
  from {top: 50%;}
  to {top: 33px;}
}
@keyframes width{
  from {width: 100%;}
  to {width: 100px;}
}
.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25vh;
  text-align: center;
  font-family: Roboto;
}
#left{
  color: #ffffff;
  font-family: "RobotoLight";
}
#center{
  object-fit: contain;
  font-family: RobotoLight;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#right{
  font-family: "RobotoLight";
}
.share{
  margin: 11px;
  cursor: pointer;
}
.share:hover{
  color: #ff6718;
}
#Copyright{
    font-size: 10px;
    text-align: center;
    margin-top: 3vh;
    font-family: "RobotoLight";
}
.callback{
  border: solid white 1px;
  color: #ffffff;
  width: 200px;
  margin: auto;
  margin-top: 2vh;
  padding: 10px 5px 10px 5px;
}
.callback:hover{
  color: #ff6718;
  border-color: #ff6718;
}
.content{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  width: 800px;
}
@font-face {
font-family: "RobotoLight";
src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "RobotoMedium";
src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
