.section:first-child{
  background-image: url('../image/group-8.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.section:nth-child(2) {
  background-image: url('../image/group-5.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  animation: move 3s infinite;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.firstpage{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-25%);
  text-align: center;
  font-size: 50px;
  font-family: "RobotoMedium";
  color: #ffffff;
  opacity: 0;
  animation: visible 1s infinite;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.firstpagecontent{
  transform: translateY(30%);
  text-align: center;
  font-size: 25px;
  font-family: "RobotoLight";
  color: #ffffff;
  animation: visible 1s infinite;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
#logo{
  animation: width 3s infinite;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
#metallus{
    animation: visible 5s infinite;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    width: 70%;
    margin-top: 85px;
}
.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25vh;
  text-align: center;
  font-family: "RobotoLight";
  color: #ffffff;
}
#center{
  object-fit: contain;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.share{
  margin: 11px;
  cursor: pointer;
}
.share:hover{
  color: #ff6718;
}
.priceShare{
  margin: 11px;
  cursor: pointer;
  color: #ffffff;
}
.priceShare:hover{
  color: #ff6718;
}
#Copyright{
    font-size: 10px;
    text-align: center;
    margin-top: 3vh;
    font-family: "RobotoLight";
}
.callback{
  border: solid white 1px;
  color: #ffffff;
  width: 200px;
  margin: auto;
  margin-top: 2vh;
  padding: 10px 5px 10px 5px;
}
.shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.7) inset;
}
.callback:hover{
  color: #ff6718;
  border-color: #ff6718;
}
.content{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  width: 800px;
}
.polygon, .polygon-ready{
  width: 240px;
  margin: 10px;
  margin-left: 25px;
  color: #ffffff;
  text-align: center;
  font-family: 'RobotoLight';
  font-size: 20px;
  line-height: 90px;
}
.polygon-ready{
  animation: lineHeight 0.5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.polygon:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.3s
}
.poly1, .poly2, .poly3, .poly4, .poly5{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-100%) translateY(-50%);
  z-index: 5;
}
.poly2{transform: translateX(0%) translateY(-50%);z-index: 4;}
.poly3{transform: translateX(-50%) translateY(30%);z-index: 2;}
.poly4{transform: translateX(50%) translateY(30%);z-index: 1;}
.poly5{transform: translateX(-150%) translateY(30%);z-index: 3;}
#sert, #contact, #contact, #services, #reviews, #work{
  background-image: url(../image/sert.png);
  background-size: contain;
  width: 240px;
  height: 276px;
  cursor: pointer;
}
#contact{background-image: url(../image/contact.png);}
#services{background-image: url(../image/services.png);}
#reviews{background-image: url(../image/reviews.png);}
#work{background-image: url(../image/work.png);}
#sert:hover{background-image: url(../image/sert-hover.png)}
#contact:hover{background-image: url(../image/contact-hover.png)}
#services:hover{background-image: url(../image/services-hover.png)}
#reviews:hover{background-image: url(../image/reviews-hover.png)}
#work:hover{background-image: url(../image/work-hover.png)}
.letsdo{
  animation: poly1-move 0.5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.letsdo2{
  animation: poly2-move 0.5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.letsdo3{
  animation: poly3-move 0.5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.letsdo4{
  animation: poly4-move 0.5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.letsdo5{
  animation: poly5-move 0.5s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.popupCallback{
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.popupWindow{
  position: absolute;
  left: 36.5%;
  top: 20%;
  width: 383px;
  height: 439px;
  background-image: url(../image/polygon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.price{
  color: #ffffff;
  font-family: 'RobotoLight';
}
.priceButton{
  border: solid 1px #ff6718;
  background-color: #ff6718;
  text-align: center;
  color: #ffffff;
  font-family: 'RobotoLight';
  margin-left: 18%;
  width: 250px;
  height: 25px;
}
@keyframes lineHeight{from {line-height: 90px;}to {line-height: 140px;}}
@keyframes poly1-move {from {left: 50%;}to {left: 300px;} from {top: 25%;}to {top: 154px;}}
@keyframes poly2-move {from {left: 50%;}to {left: 25px;}  from {top: 25%;}to {top: 230px;}}
@keyframes poly3-move {from {left: 50%;}to {left: 438px;} from {top: 25%;}to {top: 74px;}}
@keyframes poly4-move {from {left: 50%;}to {left: 163px;;}from {top: 25%;}to {top: 150px;}}
@keyframes poly5-move {from {left: 50%;}to {left: -112px;}from {top: 25%;}to {top: 226px;}}
@keyframes visible{ from {opacity: 0;}to {opacity: 1;}}
@keyframes move{from {top: 50%;}to {top: 33px;}}
@keyframes width{from {width: 100%;}to {width: 150px;}}
@keyframes polygon{from {width: 200px}to {width: 220px;}}
@font-face {
font-family: "RobotoLight";
src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "RobotoMedium";
src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
